@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
.conteudo > main {
  background-color: #e7e6e6;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-shadow: 0 0 8px #ccc;
          box-shadow: 0 0 8px #ccc;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #eee;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
    background-color: #eee;
  }
  .logo img {
    -webkit-box-shadow: 0 0 6px;
            box-shadow: 0 0 6px;
  }
  #conteudobanner {
    text-align: center;
    margin-top: 10px;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 42px;
  color: #2e4ea7;
}

p {
  width: 80%;
}

.conteudo {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.conteudo > nav {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  text-align: center;
}

@media (max-width: 768px) {
  a {
    background-color: #7194f3;
    text-decoration: none;
    line-height: 50px;
    color: #060c1f;
    padding: 10px;
    margin: 5px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 0 14px 0 14px;
  }
}

@media (max-width: 768px) {
  a:hover {
    background-color: #2e4ea7;
    color: #a1b7f3;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}

footer {
  margin-top: 20px;
  width: 100%;
  background-color: #eee;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #2c2b2b;
}

@media (min-width: 768px) {
  .conteudo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
  }
  .conteudo > nav,
  .conteudo > aside {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 250px;
    flex: 0 0 250px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  aside {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
  }
  a {
    background-color: #7194f3;
    border-bottom: 1px solid #0a0f1b;
    text-decoration: none;
    line-height: 50px;
    color: #060c1f;
  }
  a:hover {
    background-color: #2e4ea7;
    color: #a1b7f3;
  }
}

@media (min-width: 768px) {
  .conteudo > nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

@media (min-width: 768px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
    background-color: #eee;
    margin-left: 20px;
  }
  .logo img {
    -webkit-box-shadow: 0 0 6px;
            box-shadow: 0 0 6px;
  }
  #conteudobanner {
    margin-right: 30%;
    text-align: center;
    margin-top: 10px;
  }
}

img.imgcon {
  max-width: 100%;
}

@media (max-width: 768px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*align-items: center;*/
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  p {
    margin-left: 15px;
    color: #4d4a4a;
  }
  h2 {
    margin-left: 15px;
    margin-right: 10px;
  }
  aside {
    margin-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .spam {
    font-size: 16px;
    font-weight: bold;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #eee;
  }
}
/*# sourceMappingURL=style.css.map */